<div class="flex justify-between items-center bg-white p-4 rounded-xl shadow">

  <div class="flex gap-4 items-center">

    <span *ngIf="loading" class="text-gray-400 text-sm">Chargement des terrains…</span>

    <select
      *ngIf="!loading"
      class="px-4 py-2 border rounded-lg focus:ring-2 focus:ring-sky-500"
      [value]="selectedTerrainId"
      (change)="selectTerrain($event)">

      <option *ngFor="let terrain of terrains"
              [value]="terrain.terrainId">
        {{ terrain.nom }}
      </option>

    </select>

  </div>

</div>
